<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/styles.css">
</head>
{% endblock %}

{% block body %}
<nav>
  <section id="links-left">
    <button id="park">
      <a href="/dog_parks">WalkTime</a>
    </button>
    <button id="movies">
      <a href="/dog_movies">MovieTime</a>
    </button>
    <button id="play">
      <a href="/dog_games">PlayTime</a>
    </button>
    <button id="Logout">
      <a href="/">Logout</a>
    </button>
  </section>
</nav>


<h1>Welcome, {{ petname }}!</h1>
<h2>Here are the NYC Dog Park Maps</h2>
<!-- Uncomment the form for entering the ZIP code -->
<h3>Enter the Zip Code to see the weather below</h1>
<form method="POST">
    <label for="zipCode">Enter Zip Code:</label>
    <input type="text" id="zipCode" name="zipCode" required>
    <button type="submit">Search</button>
</form>
<div class= "weather">
{% if weather %}
<p>Weather in {{ weather.City }}:</p>
<p>Current Temperature: {{ weather["Current Temperature"] }}°F</p>
<p>Feels Like: {{ weather["Feels Like Temperature"] }}°F</p>
<p>Humidity: {{ weather.Humidity }}%</p>
<p>Description: {{ weather.Description }}</p>
<p>Sunrise: {{ weather.Sunrise }}</p>
<p>Sunset: {{ weather.Sunset }}</p>

{% if "Rain" in weather.Description %}
    <p>It's raining, stay inside with your pup!</p>
{% elif "Snow" in weather.Description %}
    <p>It's snowing, have a cozy day indoors with your dog.</p>
{% elif "Clouds" in weather.Description %}
    <p>It's cloudy, a good day for a walk with your furry friend!</p>
{% else %}
    <p>It's a great day to go outside for a walk with your pup!</p>
{% endif %}
{% endif %}
</div>
    <div id="map">
    <script src="{{ url_for('static', filename='maps.js') }}"></script>

    <div id="googlemaps" style="width: 100%; height: 500px;"></div>
</body>
<script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<script type="module" src="/static/maps.js"></script>
</div>
{% endblock %}
</html>