# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore database files
*.db

# Ignore IDE-specific files and folders
.idea/
.vscode/
.pycproject

# Ignore sensitive data files
secret.sh
